@media screen and (max-width:800px) {
    header{
        height: 15vh;
    }
    nav{
        display: flex;
        height: 14vh;
        align-items: center;
        justify-content: center;
    }
    ul{
        display: flex;
        flex-direction: column;
    }   
    .logo{
        margin-bottom: 10px;
    }
    .nav-top{
        margin-bottom: 10px;
    }
}
@media screen and (max-width:400px){
    header{
        height: 20vh;
    }
    nav{
        display: flex;
        height: 15vh;
        align-items: center;
        justify-content: center;
    }
    .main-img{
        width: 70vw;
        height: 50vh;
        position: relative;  
        top: 15vh;
        left: 15vw;
     }
    .main-heading {
        position: absolute;
        bottom: 16vh;
        right: 56vw;
        height: 4vh;
        width: 34vw;
        display: inline-block;
    }
    .main-heading{
        font-size: small;
    }
    .card-img{
        width: 120px;
        height: 120px;
    }
    .search-text{
        width: 30vw;
        height: 4.5vh;
        border-radius: 5%;
        padding: 0 12px;
    }
    .view-all-button {
        position: absolute;
        bottom: 16vh;
        left: 78vw;
        height: 34px;
        width: 50px;
        color: white;
        background-color: #005dff;
        border-radius: 7%;
        border: 0;
        /* font-size: 15px; */
    }
    h3 {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    padding-top: 1vh;
    font-weight: bolder;
}
}